In [1]:
# import the libraries needed for doing the KMeans calculations
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import csv
import codecs
from sklearn import datasets
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from yellowbrick.cluster import SilhouetteVisualizer

In [2]:
df_dataTST = pd.read_csv('TSTW9.csv')
#df_dataTST = df_dataTST.loc[df_dataTST.w9>=3]
df_dataTST

    Mouse         w9    Group
0   43176  12.032086   SNLDYT
1   43509   0.943891   SNLDYT
2   44215   0.377398   SNLDYT
3   46030  10.197097   SNLDYT
4   46031   6.383849   SNLDYT
5   42312   0.000000   SNLDYT
6   42313   1.518987   SNLDYT
7   42489  12.806591   SNLDYT
8   42629   0.916108   SNLDYT
9   42308   0.719568   SNLDYT
10  47517   1.035673   SNLDYT
11  45007   0.000000  ShamDYT
12  45136   0.560224  ShamDYT
13  45339   0.434940  ShamDYT
14  46251   5.204363  ShamDYT
15  46439  -1.000000  ShamDYT
16  47276   0.526008  ShamDYT
17  47506   0.000000  ShamDYT
18  46761   1.069360  ShamDYT
19  43180   0.000000    SNLWT
20  45196   1.450638    SNLWT
21  45137   0.965665    SNLWT
22  42625   0.349142    SNLWT
23  46432   1.875977    SNLWT
24  46438   0.000000    SNLWT
25  42314   5.194805    SNLWT
26  42315   0.354261    SNLWT
27  42353   8.429119    SNLWT
28  42355   0.359066    SNLWT
29  42356   3.617363    SNLWT
30  46252   0.349142    SNLWT
31  47006  14.050568    SNLWT
32  47008   1.611459    SNLWT
33  47508   2.215385    SNLWT
34    122   0.000000   ShamWT
35  47235   0.000000   ShamWT
36  47511   0.000000   ShamWT
37  47512   0.653476   ShamWT
38  47514   0.000000   ShamWT

In [3]:
inertias = []
for i in range(1,len(df_dataTST)):
    print(i)
    kmeans = KMeans(n_clusters=i)
    kmeans.fit(data_Y.reshape(-1,1))
    inertias.append(kmeans.inertia_)

plt.plot(range(1,len(df_dataTST)), inertias, marker='o')
plt.title('Elbow method')
plt.xlabel('Number of clusters')
plt.ylabel('TST')
plt.show()

1

NameError: name 'data_Y' is not defined

In [ ]:
'''X = data_Y
print(X)'''

fig, ax = plt.subplots(3, 2, figsize=(15,8))
for i in [2, 3, 4, 5]:
    '''
    Create KMeans instances for different number of clusters
    '''
    km = KMeans(n_clusters=i, init='k-means++', n_init=10, max_iter=100, random_state=42)
    q, mod = divmod(i, 2)
    '''
    Create SilhouetteVisualizer instance with KMeans instance
    Fit the visualizer
    '''
    visualizer = SilhouetteVisualizer(km, colors='yellowbrick', ax=ax[q-1][mod])
    visualizer.fit(data_Y.reshape(-1,1)) #o -1 1 do reshape estÃ¡ a fazer transpose dos TST scores

In [ ]:
#kernel density  (Gaussian, using scikit learn)
#import libraries
%matplotlib inline
from sklearn.neighbors import KernelDensity
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
X = df_dataTST.w9.values[df_dataTST.w9.values>=0]
print(X)

sns.kdeplot(data_Y, bw_adjust=0.5)
plt.show()

In [ ]:
kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(X)
kde.score_samples(X)

In [ ]:
import numpy as np
model = KMeans(n_clusters=3)
model.fit_predict(data_k)

LABEL_COLOR_MAP = {0: 'r', 1: 'k', 2: 'g'}
label_color = [LABEL_COLOR_MAP[l] for l in model.labels_]

plt.scatter(data_X, np.sort(data_Y), c=label_color)
plt.show()

#data_table['k_means']=kmeans.labels_

In [ ]:
model.labels_

In [ ]:
df_dataTST

In [ ]:
df_kmeans_clusters = df_dataTST.sort_values(by=['w9'])

In [ ]:
df_kmeans_clusters

In [ ]:
df_kmeans_clusters = df_kmeans_clusters[df_kmeans_clusters.w9>=0]
df_kmeans_clusters

In [ ]:
df_kmeans_clusters['cluster'] = model.labels_


for i in df_kmeans_clusters:
    print(i)